<!DOCTYPE html>
<html lang="en">

<head>
  <!-- =====  ELEMENTS BASIQUES DE LA PAGE  ===== -->
  <meta charset="utf-8">
  <title>mrfinker</title>
  <!-- =====  SEO  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  SPECIFICATION MOBILE  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/menu.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/color/style1.css" id="colors">
  <link rel="stylesheet" type="text/css" href="css/animation.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.html">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.html">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.html">
</head>

<body id="home">
  <!-- =====  DEBUT DU LOADER  ===== -->
  <div class="loder">
    <div class="cssload-container">
      <div class="cssload-circle-1">
        <div class="cssload-circle-2">
          <div class="cssload-circle-3">
            <div class="cssload-circle-4">
              <div class="cssload-circle-5">
                <div class="cssload-circle-6">
                  <div class="cssload-circle-7">
                    <div class="cssload-circle-8"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =====  FIN DU LOADER  ===== -->
  <!-- =====  DEBUT DU WRAPPER  ===== -->
  <div class="wrapper">
    <!-- =====  DEBUT DU HEADER  ===== -->
    <header id="header">
      <div class="header navbar">
        <div class="container-fluid">
          <!-- Meilleur affichage mobile -->
          <div class="navbar-header pull-left mrfinker">
            <a class="navbar-brand" href="index.html"> mr<span>.</span>finker </a>
          </div>
          <!-- Collection des nav, forms, et autres contenus -->
          <div id="navbarCollapse" class="navbar-collapse navbar-right">
            <nav id="menu" class="collapse">
              <!-- Navigation Menu -->
              <ul class="nav">
                <li class="active"> <a href="#home">Accueil</a></li>
                <li> <a href="#about">Apropos</a></li>
                <li> <a href="#client">Avis</a></li>
                <li> <a href="#contact">Contact</a></li>
              </ul>
              <!-- Fin de la Navigation Menu -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- =====  FIN DU HEADER  ===== -->
    <!-- =====  DEBUT DE LA BANNIERRE  ===== -->
    <div class="banner2 bg-color">
      <div class="banner-detail ">
        <div class="cd-intro">
          <h1 class="cd-headline letters type">
            <span class="cd-words-wrapper waiting">
              <b class="is-visible">Web Designer.</b>
              <b>Freelancer.</b>
              <b>Frontend Dev.</b>
            </span>
          </h1>
          <button class="custom-btn custom-btns light mtb_30 wow fadeInUp" data-wow-delay="0.2s" type="button">
            <span>TRAVAIL RECENT</span>
          </button>
        </div>
      </div>
    </div>
    <!-- =====  FIN DE LA BANNIERRE  ===== -->
    <!-- =====  DEBUT TRAVAILLER AVEC MOI  ===== -->
    <section class="text-center parallax ptb_100" data-source-url="images/Parallax01.jpg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12 ptb_50">
            <div class="story_detail">
              <h2 class="main_title light mb_20 wow fadeInUp" data-wow-delay="0.1s">Vous voulez utiliser mes services ?</h2>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Veuillez remplir les formulaires en fond de page pour me contacter.</p>
            </div>
            <button class="custom-btn custom-btns light mt_20 wow fadeInUp" data-wow-delay="0.3s" type="button"><span>Travaillons ensemble</span></button>
          </div>
        </div>
      </div>
    </section>
    <!-- =====  FIN TRAVAILLER AVEC MOI  ===== -->
    <!-- =====  DEBUT DE APROPOS  ===== -->
    <section id="about" class="ptb_100">
      <div class="about">
        <div class="container">
          <div class="about-inner ">
            <div class="row">
              <div class="col-md-7">
                <div class="about-text">
                  <div class="about-heading-wrap">
                    <h2 class="about-heading mb_40 wow fadeInUp" data-wow-delay="0.2s">Hey! Je suis Caleb Kiangebeni Developpeur Frontend<br> Web Designer</h2>
                  </div>
                  <p class="wow fadeInUp" data-wow-delay="0.3s">
                    Je suis un Developpeur Web, ayant une tres grande connaissance dans le domaine du Developpement Web depuis 2020.
                    et dans le web Design avec les connaissances Ui/Ux design,
                    dans la production des produits des qualités.
                    J'aimes cree des beaux sites internet responsives et dynamiques mais tres simples.
                  </p>
                  <button class="custom-btn custom-btns light mtb_30 wow fadeInUp" data-wow-delay="0.4s" type="button"><span>Telecharger mon cv</span></button>
                </div>
              </div>
              <div class="col-md-5 wow fadeInUp" data-wow-delay="0.2s">
                <figure> <img src="images/293974210_3105682569643636_2173801976325127481_n.jpg" alt="#"> </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =====  FIN APROPOS  ===== -->
    <!-- =====  DEBUT CARACTERISTIQUES  ===== -->
    <div class="container pb_100">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-part">
            <h2 class="main_title mb_20 wow fadeInUp" data-wow-delay="0.2s">CE QUE JE FAIS.</h2>
            <p class=" wow fadeInUp" data-wow-delay="0.3s">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
          </div>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-sm-6 mt_80">
          <div class="feature-i-left wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon-right"><i class="icon ion-android-color-palette"></i></div>
            <h4 class="mb_10 title">Design Dynamique</h4>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
          </div>
        </div>
        <div class="col-sm-6 mt_80">
          <div class="feature-i-left wow fadeInUp" data-wow-delay="0.3s">
            <div class="icon-right"><i class="icon ion-bookmark"></i></div>
            <h4 class="mb_10 title">Simplistes</h4>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
          </div>
        </div>
        <div class="col-sm-6 mt_80">
          <div class="feature-i-left wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon-right"><i class="ion ion-filing"></i></div>
            <h4 class="mb_10 title">Retina Ready</h4>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
          </div>
        </div>
        <div class="col-sm-6 mt_80">
          <div class="feature-i-left wow fadeInUp" data-wow-delay="0.5s">
            <div class="icon-right"><i class="icon ion-settings"></i></div>
            <h4 class="mb_10 title">Facile a modifier</h4>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
          </div>
        </div>
        <div class="col-sm-6 mt_80">
          <div class="feature-i-left wow fadeInUp" data-wow-delay="0.6s">
            <div class="icon-right"><i class="icon ion-help-buoy"></i></div>
            <h4 class="mb_10 title">Translation Ready</h4>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
          </div>
        </div>
        <div class="col-sm-6 mt_80">
          <div class="feature-i-left wow fadeInUp" data-wow-delay="0.7s">
            <div class="icon-right"><i class="ion ion-easel"></i></div>
            <h4 class="mb_10 title">Inventive Elements</h4>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  FIN CARACTERISTIQUES  ===== -->
    <!-- =====  DEBUT PROGRESSION  ===== -->
    <section class="Progress ptb_60 bg-color">
      <div class="container">
        <!-- Progress Bar  -->
        <div class="row">
          <div class="skils-circle">
            <div class="col-md-2 col-sm-4 skill mtb_50 wow fadeInUp" data-wow-delay="0.2s">
              <div class="first circle"> <strong></strong>
                <h6>HTML5 + CSS3</h6>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 skill mtb_50 wow fadeInUp" data-wow-delay="0.3s">
              <div class="second circle"> <strong></strong>
                <h6>Ux Design</h6>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 skill mtb_50 wow fadeInUp" data-wow-delay="0.4s">
              <div class="third circle"> <strong></strong>
                <h6>JQUERY + JAVASCRIPT</h6>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 skill mtb_50 wow fadeInUp" data-wow-delay="0.5s">
              <div class="fourth circle"> <strong></strong>
                <h6>BOOTSTRAP</h6>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 skill mtb_50 wow fadeInUp" data-wow-delay="0.6s">
              <div class="fifth circle"> <strong></strong>
                <h6>NODE.JS</h6>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 skill mtb_50 wow fadeInUp" data-wow-delay="0.7s">
              <div class="sixth circle"> <strong></strong>
                <h6>Figma/XD</h6>
              </div>
            </div>
          </div>
        </div>
        <!--Progress Bar -->
      </div>
    </section>
    <!-- =====  FIN PROGRESSION  ===== -->
    <!-- =====  DEBUT FEEDBACK SERVICES  ===== -->
    <section id="client" class="text-center parallax" data-source-url="images/Parallax02.jpg">
      <div class="container ptb_100 wow fadeInUp" data-wow-delay="0.2s">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="heading-part ">
              <h2 class="main_title light mb_40 wow fadeInUp" data-wow-delay="0.3s">Ce qu'ils disent.</h2>
            </div>
          </div>
        </div>
        <div class="type-01 wow fadeInUp" data-wow-delay="0.4s">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <div class="client owl-carousel">
                <div class="item client-detail">
                  <p>Lorem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset Rem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset oportere patrioque ne nec Duo cu partem omnesque..</p>
                  <div class="client-title  mt_40"><strong class="light">Bambi Nzuzi</strong> -
                    <div class="client-designation">Digital Life.</div>
                  </div>
                </div>
                <div class="item client-detail">
                  <p>Ddolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset Rem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset oportere patrioque ne nec Duo cu partem omnesque..</p>
                  <div class="client-title  mt_40"><strong class="light">Roger Mutoto</strong> -
                    <div class="client-designation">Developpeur</div>
                  </div>
                </div>
                <div class="item client-detail">
                  <p>Sorem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset Rem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset oportere patrioque ne nec Duo cu partem omnesque..</p>
                  <div class="client-title mt_40"><strong class="light">Salumu Ben </strong>-
                    <div class="client-designation">Developpeur</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =====  FIN FEEBACK SERVICES  ===== -->
    <!-- =====  DEBUT COORDONNEES  ===== -->
    <section id="contact" class="ptb_100">
      <div class="container">
        <div class="row text-left">
          <div class="col-md-4 col-sm-6 mt_30 wow fadeInUp" data-wow-delay="0.2s">
            <div class="feature-i-left">
              <div class="icon-right"><i class="icon ion-location"></i></div>
              <h4 class="mb_10 title">Ma localisation</h4>
              <p>Kinshasa, DRC.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mt_30 wow fadeInUp" data-wow-delay="0.3s">
            <div class="feature-i-left">
              <div class="icon-right"><i class="icon ion-paper-airplane"></i></div>
              <h4 class="mb_10 title">Envoyer un E-mail</h4>
              <div class="email"> <a href="mailto:calebkiangebeni@gmail.com" target="_top">calebkiangebeni@gmail.com</a> </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mt_30 wow fadeInUp" data-wow-delay="0.4s">
            <div class="feature-i-left">
              <div class="icon-right"><i class="icon ion-ipad"></i></div>
              <h4 class="mb_10 title">Me contacter</h4>
              <p>+243 97 92 76 522</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =====  FIN COORDONNEES  ===== -->
    <!-- =====  CONTACT START  ===== -->
    <section class="pb_100">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb_50 col-md-offset-3 text-center">
            <div class="heading-part ">
              <h2 class="main_title mb_20 wow fadeInUp" data-wow-delay="0.5s">Get In Touch</h2>
              <p class=" wow fadeInUp" data-wow-delay="0.6s">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
            </div>
          </div>
        </div>
        <!-- CONTACT  -->
        <div class="row">
          <div class="contact-form mb_50 wow fadeInUp" data-wow-delay="0.7s">
            <!-- CONTACT FORM -->
            <div id="contact_form">
              <form id="contact_body" method="post" action="google.com">
                <div class="col-md-4 col-xs-12">
                  <input class="full-with-form mt_30" type="text" name="name" placeholder="Votre nom" data-required="true" />
                </div>
                <div class="col-md-4 col-xs-12">
                  <input class="full-with-form mt_30" type="email" name="email" placeholder="Adresse mail" data-required="true" />
                </div>
                <div class="col-md-4 col-xs-12">
                  <input class="full-with-form mt_30" type="text" name="phone1" placeholder="Numero de telephone" maxlength="15" data-required="true" />
                </div>
                <div class="col-xs-12">
                  <input class="full-with-form mt_30" type="text" name="subject" placeholder="Votre sujet" data-required="true">
                </div>
                <div class="col-xs-12">
                  <textarea class="full-with-form  mt_30" name="message" placeholder="Votre message" data-required="true"></textarea>
                </div>
                <div class="col-xs-12">
                  <button class="custom-btn custom-btns light mt_30" type="submit"><span>Envoyer Message</span></button>
                </div>
              </form>
              <div id="contact_results" class="mt_40"></div>
            </div>
            <!-- FIN CONTACT FORM -->
          </div>
        </div>
      </div>
    </section>
    <!-- =====  CONTACT FIN  ===== -->
    <!-- =====  FOOTER DEBUT  ===== -->
    <div class="footer bg-color ptb_100">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer-logo mb_20 mrfinker"> <a href="index.html"> mr<span>.</span>finker </a> </div>
            <div class="copyright-part mb_10 wow fadeInUp" data-wow-delay="0.2s">© mrfinker | Tout droit reservé.</div>
            <div class="social_icon wow fadeInUp" data-wow-delay="0.3s">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  FOOTER FIN  ===== -->
  </div>
  <!-- =====  WRAPPER END  ===== -->
  <!-- =====  SCRIPT DEBUT  ===== -->
  <script src="js/jQuery_v3.1.1.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/letters-type.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/circle-progress.js"></script>
  <script src="js/circle-progress-examples.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT3mI0RI16q19Oxv93gSxN0cF0wfxWN6w" type="text/javascript"></script>
  <script src="js/map.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/mail.js"></script>
  <!-- =====  SCRIPT FIN  ===== -->
</body>


</html>